---
title: hearts+homes
description: hearts+homes
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; base-uri 'self'; form-action 'self'" />
        <link rel="stylesheet" href="/bundle.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a class="btn" href="/">hearts+homes</a>
            </div>

            <nav>
                <div class="menu-group">
                    <div class="btn trigger" tabindex="0">About</div>
                    <menu>
                        <a class="btn" href="/story">Our Story</a>
                        <a class="btn" href="/purpose">Our Purpose</a>
                        <a class="btn" href="/team">Our Team</a>
                        <a class="btn" href="/partners">Our Partners</a>
                    </menu>
                </div>

                <div class="menu-group">
                    <div class="btn trigger" tabindex="0">Donate</div>
                    <menu>
                        <a class="btn" href="/funding">Your Gifts</a>
                        <a class="btn" href="/time">Your Time</a>
                        <a class="btn" href="/furnishing">Your Furniture</a>
                    </menu>
                </div>

                <div class="menu-group">
                    <div class="btn trigger" tabindex="0">Gallery</div>
                    <menu>
                        <a class="btn" href="/gallery">Installations</a>
                        <a class="btn" href="/gallery">Reveals</a>
                        <a class="btn" href="/gallery">Volunteers</a>
                    </menu>
                </div>

                <a class="btn" href="/contact">Contact</a>
            </nav>
        </header>

        <main>
            {{ content | safe }}
        </main>

        <footer>
            <a class="btn primary" href="/time">Donate Time</a>
            <a class="btn secondary" href="/furnishing">Donate Furnishings</a>
            <a class="btn tertiary" href="/funding">Donate Funding</a>
        </footer>
    </body>
</html>