---
title: hearts+homes
description: hearts+homes
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; base-uri 'self'; form-action 'self'" />
        <link rel="stylesheet" href="/style/index.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <a class="btn" href="/">hearts+homes</a>
            </div>

            <nav id="nav">
                <div class="menu-group">
                    <div class="btn trigger" tabindex="0">About</div>
                    <h5 class="label mobile">About</h5>
                    <menu>
                        <a class="btn" href="/about/story">Our Story</a>
                        <a class="btn" href="/about/purpose">Our Purpose</a>
                        <a class="btn" href="/about/team">Our Team</a>
                        <a class="btn" href="/about/partners">Our Partners</a>
                    </menu>
                </div>

                <div class="menu-group">
                    <div class="btn trigger" tabindex="0">Donate</div>
                    <h5 class="label mobile">Donate</h5>
                    <menu>
                        <a class="btn" href="/donate/funding">Your Gifts</a>
                        <a class="btn" href="/donate/time">Your Time</a>
                        <a class="btn" href="/donate/furnishing">Your Furniture</a>
                    </menu>
                </div>

                <div class="menu-group">
                    <div class="btn trigger" tabindex="0">Gallery</div>
                    <h5 class="label mobile">Gallery</h5>
                    <menu>
                        <a class="btn" href="/gallery/installations">Installations</a>
                        <a class="btn" href="/gallery/reveals">Reveals</a>
                        <a class="btn" href="/gallery/volunteers">Volunteers</a>
                    </menu>
                </div>

                <a class="btn" href="/contact">Contact</a>
            </nav>

            <div id="nav-toggle" class="btn nav-toggle mobile" tabindex="0">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </header>

        <main>
            {{ content | safe }}
        </main>

        <footer>
            <a class="btn primary" href="/donate/time">Donate Time</a>
            <a class="btn secondary" href="/donate/furnishing">Donate Furnishings</a>
            <a class="btn tertiary" href="/donate/funding">Donate Funding</a>
        </footer>
    </body>

    <script src="/js/index.js" type="module"></script>
</html>