/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* H+H Custom Design */


:root {
	/* color palette */
	--white: #fff;
	--light: #fdfcfb;
	--dark: #23232a;
	--primary-light: #7474c1;
	--primary: #6262b2;
	--primary-dark: #535393;
	--secondary-light: #ae6fae;
	--secondary: #9f609f;
	--secondary-dark: #7f537f;
	--accent: #d9e7ca;

	/* sizing */
	--header-height: 48px;
	--footer-height: 48px;
	--layout-margin: 32px;
	--layout-padding: 16px;
}


body {
	font-family: Calibri, sans-serif;
	background-color: var(--light);
	color: var(--dark);
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

h2 {
	color: var(--primary);
	font-size: 1.5em;
	font-weight: 700;
}

h4 {
	color: var(--primary);
	font-size: 1.125em;
	font-weight: 700;
}

h5 {
	color: var(--primary);
	font-weight: 700;
}

em {
	color: var(--primary);
}

b {
	font-weight: 700;
}

i {
	font-style: italic;
}

q {
	line-height: 1.5em;
	font-style: italic;
}

ul {
	padding-left: 2em;
	list-style: inside;
}

li {
	line-height: 1.5em;
}

.btn {
	border-radius: 3px;
	padding: 8px 16px;
	text-decoration: none;
}

.btn:visited {
	color: inherit;
}

.btn:hover,
.btn:focus {
	color: var(--primary-dark);
}

.btn:focus-visible {
	outline: 2px solid var(--primary);
}

.btn.primary {
	background-color: var(--primary);
	color: #fff;
}

.btn.primary:hover {
	background-color: var(--primary-dark);
}

.btn.primary:active {
	background-color: var(--primary-light);
}

.btn.secondary {
	background-color: var(--secondary);
	color: #fff;
}

.btn.secondary:hover {
	background-color: var(--secondary-dark);
}

.btn.secondary:active {
	background-color: var(--secondary-light);
}

.btn.secondary:focus-visible {
	outline: 2px solid var(--secondary);
}

.btn.tertiary:hover {
	color: var(--dark);
	background-color: var(--accent);
}

.btn.tertiary:active {
	text-decoration: underline;
}

.btn.tertiary:focus-visible {
	outline: 2px solid var(--dark);
	background-color: var(--accent);
	color: var(--dark);
}

.row {
	display: flex;
	gap: 32px;
	margin: 8px
}

.column {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card {
	background: var(--white);
    border-radius: 16px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 32px;
}

/* Layout */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	padding: var(--layout-padding);
	font-size: 18px;
}

header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

header nav .menu-group {
	position: relative;
}

header nav .menu-group .trigger {
	cursor: pointer;
}

header nav .menu-group menu {
	display: none;
	padding: 8px;
	background: var(--white);
	border-radius: 4px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	min-width: 144px;
}

header nav .menu-group:hover menu,
header nav .menu-group:focus-within menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	top: 34px;
	left: 0;
	z-index: 1;
}

main {
	display: flex;
	flex-direction: column;
	margin: var(--layout-margin) auto;
	gap: 16px;
	max-width: 1024px;
	min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--layout-margin) * 2 - var(--layout-padding) * 4);
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	height: var(--footer-height);
	padding: var(--layout-padding) 0;
	font-size: 18px;
}

/* Mobile */

@media only screen and (max-width: 768px) {
	/* TODO: menu to mobile menu; add touch events */
}
