/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* H+H Custom Design */


body {
	font-family: Calibri, sans-serif;
}

p {
	line-height: 1.15;
}

h2 {
	color: #7474c1;
	font-size: 24px;
	font-weight: 700;
}

h4 {
	color: #7474c1;
	font-size: 18px;
	font-weight: 700;
}

h5 {
	color: #7474c1;
	font-weight: 700;
}

em {
	color: #7474c1;
}

b {
	font-weight: 700;
}

i {
	font-style: italic;
}

q {
	line-height: 1.15;
	font-style: italic;
}

ul {
	padding-left: 32px;
	list-style: inside;
}

li {
	line-height: 1.15;
}

.btn {
	border: 1px solid black;
	border-radius: 3px;
	padding: 8px 16px;
	text-decoration: none;
}

.btn:hover {
	text-decoration: underline;
}

.btn:visited {
	color: inherit;
}

.row {
	display: flex;
	gap: 24px;
	margin: 8px
}

.column {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

/* Layout */

header {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}

header nav {
	display: flex;
	justify-content: center;
	gap: 16px;
}

header nav .menu-group {
	position: relative;
}

header nav .menu-group .trigger {
	cursor: pointer;
}

header nav .menu-group menu {
	display: none;
	padding: 8px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	min-width: 100px;
}

header nav .menu-group:hover menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	top: 16px;
	left: 0;
	z-index: 1;
}

header nav .btn {
	border: none;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 16px;
	min-height: calc(100vh - 178px);
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 12px;
	padding: 16px 0;
}